[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "adobe_imgui_spectrum"]
	path = adobe_imgui_spectrum
	url = https://github.com/adobe/imgui.git
	branch = master
